# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

#Ipython Notebook
.ipynb_checkpoints
